<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bisun.persistence.ImageBoardDAO">

	<sql id="search">
		<if test="keyword != null">
			<choose>
				<when test='type=="t"'>
					and ititle like concat('%',#{keyword},'%')
				</when>
				<when test='type=="c"'>
					and icontent like concat('%',#{keyword},'%')
				</when>
				<when test='type=="w"'>
					and iwriter like concat('%',#{keyword},'%')
				</when>
			</choose>
		</if>
	</sql>

	<select id="getList" parameterType="Criteria" resultType="ImageBoardVO">
		select * from tbl_imageboard where ino > 0
		<include refid="search"></include>
		order by ino desc limit #{skip}, #{size}
	</select>

	<select id="getTotal" parameterType="Criteria" resultType="Integer">
		select count(ino) from tbl_imageboard where ino > 0
		<include refid="search"></include>
	</select>
	
	<insert id="register" parameterType="ImageBoardVO">
		insert into tbl_imageboard (ititle, icontent, iwriter, imagename) values (#{ititle}, #{icontent}, #{iwriter}, #{imagename})
	</insert>
	
	<update id="addViewCount" parameterType="Integer">
		update tbl_imageboard set viewcount = viewcount + 1 where ino = #{num} 
	</update>
	
	<select id="view" parameterType="Integer" resultType="ImageBoardVO">
		select * from tbl_imageboard where ino = #{num}
	</select>
	
	<delete id="delete" parameterType="Integer">
		delete from tbl_imageboard where ino = #{num}
	</delete>
</mapper>