<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="org.bisun.persistence.QnaDAO">
 	<select id="getTime" resultType="string">
 		select now();
 	</select>
 	
 	<sql id="search">
		<if test="keyword != null">
			<choose>
				<when test='type=="keytitle"'>
					AND qtitle like concat('%',#{keyword},'%')
				</when>
				<when test='type=="keyqwriter"'>
					AND qwriter like concat('%',#{keyword},'%')
				</when>
			</choose>
		</if>
	</sql>
	
	<select id="getTotal" resultType="integer" parameterType="Criteria">
		select count(qno) from tbl_qna where qno >0
		<include refid="search"></include>
	</select>
 	
 	<select id="getList" resultType="QnaVO" parameterType="Criteria">
 		select * from tbl_qna where qno > 0
 		<include refid="search"></include>
 		order by qno desc limit #{skip}, #{size}
 	</select>
 
 </mapper>